.footer {
    width: 100vw;
    height: 3rem;
    max-width: 75rem;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: small;

}

.wave {
    position: absolute;
    width: 100%;
    z-index: -3;
    overflow: hidden;
    line-height: 0;
    right: 0;
    left: 0;
}

footer p {
    z-index: 3;
    position: relative;
    margin-top: 3rem;
}



